.div-form {
    margin: auto;
    border: 4px solid #F70;
    padding: 5px;
    background-color: rgb(242, 243, 243);
}

input {
    /*cursor: pointer;*/
}

h1, h2, h3, h4{
    cursor: default;
}

#txbLink {
    cursor: default;
    /*width: 70% !important;
    float: left !important;*/
    font-size: smaller !important;
}

#btnCopy {
    margin-top: 10px;
    /*width: 20% !important;
    float: right !important;*/
}

#btnGenerar{
    cursor: pointer;
}